<div class="posts"><article>
<div class="class-header flex-row justify-space-between">
    
    <h2><a href="/post/{{id}}">{{title}}</a></h2>
    <div>
        Posted By {{User.username}} on {{form_date createdAt}}
    </div>
</div>
<div class="class-body">
    {{body}}
</div>
</article>
</div>